body{
    background-color:#ADD8E6;
}
.page{
    text-align:center;
    background-color:#ADD8E6;
}
.top-space{
    margin-bottom:2%;
}
.title{
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.navigation{
    font-size:20px;
    font-weight:bold;
}
.cstyle{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
}
.bstyle{
background-color: #4CAF50;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.event-style{
    font-family:Helvetica;
    font-size: 25px;
    color:grey;
    margin-top: 1%;
    margin-bottom:1%;
}
.back-b{
    color:#909090;
    font-size:45px;
}
.register{
    color: #909090;
    font-size:45px;
}
.usern{
    font-size:20px;
    color:white;
}
.userp{
    margin-top:1%;
    font-size:20px;
    color:white;
}
.userIn{
    margin-top:5px;
    border:none;
    padding: 10px 10px;
}
.passIn{
    margin-top:5px;
    border:none;
    padding: 10px 10px;
}
.dstyle{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:10px;
    cursor: pointer;
}
#title-box{
    border-color:#909090;
    background-color:#ADD8E6;
    height:20px;
}
#desc-box{
    border-color:#909090;
    background-color:#ADD8E6;
    width:300px;
    height:70px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
#meeting-time{
    background-color:#ADD8E6;
}
